In [33]:
import pandas as pd 
pd.set_option('display.max_columns', 500)

In [34]:
df=pd.read_csv("googleplaystore.csv")

In [35]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [36]:
df['Installs'] = df['Installs'].str.replace(',', '')
df['Installs'] = df['Installs'].str.replace('+', '')
installs = df['Installs']
for install in installs:
    try:
        int(install)
    except:
        df = df[df['Installs'] != install]

In [37]:
df['Installs'] = pd.to_numeric(df['Installs'])

In [38]:
df.corr()

            Rating  Installs
Rating    1.000000  0.051355
Installs  0.051355  1.000000

In [39]:
df=pd.read_csv("Wholesale_Data.csv")

In [40]:
df.head()

   Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen Channel
0  12669  9656     7561     214              2674        1338    Cafe
1   7057  9810     9568    1762              3293        1776     Hot
2   6353  8808     7684    2405              3516        7844   Hotel
3  13265  1196     4221    6404               507        1788       C
4  22615  5410     7198    3915              1777        5185       H

In [41]:
df.Channel.unique()

array(['Cafe', 'Hot', 'Hotel', 'C', 'H', 'R', 'Rest', 'Restaurant',
       'Caffe', 'Hote'], dtype=object)

In [ ]:
df.Channel = df.Channel.map({'Hot': 'Hotel', 'C': 'Cafe', ''})